progress=false
@ava:registry=https://registry.npmjs.org/
@concordance:registry=https://registry.npmjs.org/
@types:registry=https://registry.npmjs.org/
registry=https://artifacts.bos.rapid7.com/nexus/content/groups/npm-all/
